.entryholder {
    background-color: white;
    cursor: auto;
    padding-bottom: 3rem;
}

.article-show-entry {
    margin-top: 3rem;
    margin-bottom: 3rem;
    max-width: 647px;
    color: #333333;
    font-size: 12px;
    font-family: sans-serif;
}

.entryHeader {
    margin: 0px;
    padding: 0px;
    background-color: transparent;
    border: 0px;
    cursor: auto;
    font-size: 12px;
    font-family: sans-serif;
}

.title {
    font-size: 2rem;
    font-weight: 700;
    font-family: sans-serif;
    text-rendering: optimizeLegibility;
    line-height: 2.3rem;
    text-transform: none;
    clear: both;
    margin-top: 3rem;
    letter-spacing: -0.04em;
    display: block;
    margin-bottom: 0.5rem;
    color: #333333;
}

.metadata, .metadata-holder {
    color: #9e9e9e;
    line-height: 17px;
    font-size: 13px;
    font-family: sans-serif;
    box-sizing: border-box;
}

.entryMetadata {
    color: #9e9e9e;
    line-height: 17px;
    display: inline;
    box-sizing: border-box;
}

.source-metadata-holder {
    box-sizing: border-box;
    padding-right: 0.25rem !important;
    // display: inline-block;
}

.entry-source {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    outline: 0;
}

.authors {
    color: inherit;
    font-size: inherit;
    font-weight: normal;
    line-height: inherit;
    display: inline-block;
    box-sizing: border-box;
}

.shareBarHolder {
    display: none;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

.tagsHolder {
    margin-bottom: 0.5rem;
    margin-top: 1.5rem;
}

.entryBody {
    font-family: "Merriweather", sans-serif;
    font-size: 1rem;
    line-height: 1.6875rem;
    max-width: 647px;
    word-break: break-word;
    color: #333333;
    cursor: auto;
}

.pinable {
    max-width: 647px;
    width: 645px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: block;
    border-radius: 3px;
    border: 1px solid rgb(239, 239, 239);
    font-family: "Merriweather", sans-serif;
    font-size: 1rem;
    line-height: 1.6875rem;
    word-break: break-word;
}

.entryContent {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Merriweather", sans-serif;
    font-size: 1rem;
    line-height: 1.6875rem;
    word-break: break-word;
    color: #333333;
}

#wallHolder {
    clear: both;
}

.visitWebsiteButton {
    margin-top: 24px;
    width: 100%;
    display: block;
    color: #757575;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
}

.fx-button {
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 17px;
    padding-right: 17px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    min-width: 50px;
    box-sizing: border-box;
    letter-spacing: 0;
    box-shadow: none;
    outline: 0;
    transition: background-color 0.2s linear, color 0.2s linear;
}

// Read Controls

.hide {
    float: right;
    height: 24px;
    padding: 0;
    width: 24px;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    color: #757575;
    background-color: transparent;
    font-weight: normal;
    min-width: 0;
    margin-right: 0px;
    opacity: 0.38;
    background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M14.576%204.574L10%209.15%205.424%204.574l-.849.85%204.577%204.574-4.577%204.576.85.85L10%2010.846l4.576%204.576.85-.849-4.577-4.576%204.577-4.575-.85-.849z%22%20fill%3D%22black%22%20fill-rule%3D%22evenodd%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0;
    box-shadow: none;
    outline: 0;
    transition: background-color 0.2s linear, color 0.2s linear;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    align-items: flex-start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.mark-as-read {
    float: right;
    height: 24px;
    padding: 0;
    width: 24px;
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    color: #757575;
    background-color: transparent;
    font-weight: normal;
    min-width: 0;
    margin-right: 0px;
    opacity: 0.38;
    background-image: url('data:image/svg+xml;charset%3DUS-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2220%22%3E%3Cpath%20fill%3D%22black%22%20fill-rule%3D%22nonzero%22%20d%3D%22M2.357%2010.013a.5.5%200%201%200-.714.701l5.209%205.303a.5.5%200%200%200%20.713%200L19.023%204.35a.5.5%200%200%200-.713-.7L7.208%2014.953l-4.851-4.94z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E');
    -webkit-font-smoothing: antialiased;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1rem;
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    vertical-align: top;
    text-decoration: none;
    box-sizing: border-box;
    letter-spacing: 0;
    box-shadow: none;
    outline: 0;
    transition: background-color 0.2s linear, color 0.2s linear;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    align-items: flex-start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

.hide:hover, .mark-as-read:hover {
    cursor: pointer;
    opacity: 1;
}

.hidden-button {
    visibility: hidden;
}

// .read {
//     color: #888888;
// }

// hides article after marked as read and hide

.hidden {
    display: none;
}

// fades article after marked as read

.read {
    opacity: 0.38;
}