#Frame {
    // margin-left: 318px;
    background-color: white;
    position: relative;
    min-height: 969px; 
    display: block
}

#PageHolderFX {
    background-color: #ffffff;
    padding-bottom: 56px;
    padding-top: 56px;
    display: block;
    min-height: 871px;
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 24px;
    padding-right: 24px;
    box-sizing: border-box;
    max-width: 888px;
    color: #333333;
}

.presentation-4 {
    box-sizing: border-box;
}   

.fx * {
    box-sizing: border-box;
}











