.session-bar {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    width: 100%;
    box-shadow: 1px 0 0 1px rgba(0, 0, 0, 0.05);
    height: 56px;
    line-height: 24px;
    padding: 12px 0;
    z-index: 1;
}